.single_testi{
    padding: 30px;
}
.single_testi p{
    margin-bottom: 15px;
}
.single_testi h6{
    margin-bottom: 10px;
    color:#7865ff;
    font-size:1.1rem;
    font-weight: 500;
}
.single_testi .title{
    font-weight: 300 !important;
    font-size:.9 rem;
}


@media(max-width:992px){
    .single_testi p{
        font-size:.8rem;
        line-height:28px
    }
}












































